$buttonColor: #302594;
$buttonTextColor: #FFFFFF;
$navTextColor:#FFFFFF;
$selectMenuTextColor: #5C39BA;
$promoSectionBgColor: linear-gradient(99.89deg, #3625AF 0%, #C46BD5 98.82%);
$promoSectionTextColor:#FFFFFF;
$formBgColor: #FFFFFF;
$formTextColor: #000000;
$primaryFontFamily: 'Roboto',
'Inter';
$animationSpeed: all 0.5s linear;
///screen sizes
$mobile: 320px;
$preMobile: 450px;
$tablet: 720px;
$desktop: 1280px;
$bigDesktop: 1920px;
$preDesktop: 1480px;